@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

.container{
    background-color: hsl(0, 0%, 94%);
    width: 100vw;
    height: 100vh;   
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.content{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: hsl(0, 0%, 100%);
    border-bottom-right-radius: 30%;
    font-size: 32px;
    width: 55vw;
    height: 80vh;
    margin: 40px;
}

.form{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10px;
    padding-top: 15px;
    width:35vw ;
    grid-gap: 20px;
}

/* #wanringMonth #warningyear */

#warningDay{
  color: red;
  font-style: italic;
  font-size: 13px;
}

#warningMonth{
    color: red;
    font-style: italic;
    font-size: 13px;
}

#warningYear{
    color: red;
    font-style: italic;
    font-size: 13px;
}

label{
    font-size: 20px;
}

input{
   width: 150px;
   height: 70px;
   border: 2px solid hsl(0, 1%, 44%);
   border-radius: 10px;
   box-sizing: border-box;
}

input :hover{
    border: 2px;
}

input[type=text]{
    padding:20px;
    font-size: 30px;
    text-align: start;
}

input[type=text]:hover{
    border-color: hsl(259, 100%, 65%);
}

.icon{
    display: flex;
    position: relative;
    margin-top: 20px;
    width: 40vw;
}

.hr{
    width:100%;
    align-self: center;
}

img{
    background-color: hsl(259, 100%, 65%);
    border-radius: 50px;
    padding: 20px;
}

.arrow{
  position: absolute;
  top: 0px;
  transform: translateY(-30%);
  right: 0;
}

img:hover{
    background-color: hsl(0, 0%, 8%);
}

img:active{
    background-color: hsl(0, 0%, 8%);
}

span{
   color: hsl(259, 100%, 65%);
}

.result{
    font-size: 32px;
    line-height: 0.5; 
    font-weight: bolder;
    margin-bottom: 20px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    align-content: space-between;
    gap: 20px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


/* Mobile */
@media (max-width: 375px) {
    .content {
      /* font-size: 24px; */
      /* width: 375px; */
      width: 90vw;
      padding: 20px;
    }
  
    .form {
      width: 90vw;
    }

    input{
      width: 100px;
      height: 50px;
      border-radius: 10px;
      /* box-sizing: border-box; */
   }

   input[type=text]{
    padding:3px;
    font-size: 2px;
    text-align: start;
}

    .arrow{
      right: 50%;
      transform: translateX(-50%);
    }
  
    img {
      padding: 5px;
    }
  
    .result {
      font-size: 20px;
    }
}


/* Mobile */
@media (max-width: 600px) {
    .container {
        width: 600px;
        margin: 0 auto;
    }
    
    .content {
        top: 20%;
        font-size: 40px;
        width: 40vw;
        padding: 60px;
    }
    
    .form {
        width: 30vw;
    }
    
    input[type=text] {
        font-size: 36px;
        width: 100%;
    }
    
    img {
        padding: 30px;
    }
    
    .result {
        font-size: 30px;
    }
}
 

/* Desktop */
@media (min-width: 720px) {
    .container {
      width: 720px;
      margin: 0 auto;
    }
  
    .content {
      top: 20%;
      font-size: 40px;
      width: 40vw;
      padding: 60px;
    }
  
    .form {
      width: 30vw;
    }
  
    input[type=text] {
      font-size: 36px;
      width: 100%;
    }
  
    img {
      padding: 30px;
    }
  
    .result {
      font-size: 40px;
    }
}
  
  
/* Desktop */
@media (min-width: 1440px) {
    .container {
      width: 1440px;
      margin: 0 auto;
    }
  
    .content {
      top: 20%;
      font-size: 40px;
      width: 40vw;
      padding: 60px;
    }
  
    .form {
      width: 30vw;
    }
  
    input[type=text] {
      font-size: 36px;
      width: 100%;
    }
  
    img {
      padding: 30px;
    }
  
    .result {
      font-size: 60px;
    }
}

